In [22]:
# Numpy's ndarray is a fast and flexible container for large data sets (Elements must be of the same type; e.g., int).
# Arrays allow you to perform mathematical operations on large sets of data.

In [21]:
# import the library
import numpy as np

In [23]:
list1 = [0, 1, 2, 3, 4, 5]

In [24]:
list2 = [6, 7, 8, 9, 10, 11]

In [26]:
# when performing an operation between these two normally, an error will be thrown
list1 * list2

TypeError: can't multiply sequence by non-int of type 'list'

In [27]:
# However, if we transform both of them into array...
array1 = np.array(lista1)
array2 = np.array(lista2)
array1 * array2

array([ 0,  7, 16, 27, 40, 55])

In [28]:
# Methods:
# arange: This is a version of the Python range function.
np.arange(15)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [17]:
np.arange(2,10)

array([2, 3, 4, 5, 6, 7, 8, 9])

In [18]:
np.arange(2,10,2)

array([2, 4, 6, 8])

In [29]:
# You can also specify the desired data type
np.arange(2,10,2,dtype=float)

array([2., 4., 6., 8.])