In [1]:
# One-dimensional Arrays: They behave similarly to Python lists.

In [3]:
import numpy as np
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [4]:
# To get an specific element you just need to call it from it's index.
arr[5]

np.int64(5)

In [5]:
# You can also use slicing (Note: arrays slices modifications affects the original array)
arr[5:8]

array([5, 6, 7])

In [6]:
arr[3] = 1234
arr

array([   0,    1,    2, 1234,    4,    5,    6,    7,    8,    9])

In [7]:
# Two-dimensional Arrays: They have columns and rows which can be used to access it's elements.
arr2 = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
arr2

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [11]:
# We can access the elements using recursive or comma separated.
arr2[0][2]

np.int64(3)

In [12]:
arr2[0,2]

np.int64(3)

In [13]:
# The slicing on a Two-dimensional array is different.
arr2[:2]

array([[1, 2, 3],
       [4, 5, 6]])

In [15]:
# Selected the two first rows (indexes 0 and 1)
# However, if we slice it using the columns and the lines...
arr2[:2, 1:]

array([[2, 3],
       [5, 6]])

In [18]:
# It selected the first two rows (indexes 0 and 1) and the columns from the second to the last (indexes 1 and 2)
# We can also select one row while selecting more columns
arr2[1, :2]

array([4, 5])

In [8]:
# And also select one column while selecting more rows
arr2[:, :1]

array([[1],
       [4],
       [7]])

In [14]:
# Boolean indexing
arr2 == 3 #Compares the array elements with the number 3, if they are equal to 3, then True it's returned, otherwise, False.

array([[False, False,  True],
       [False, False, False],
       [False, False, False]])

In [17]:
arr2[arr2 == 3] # Returns an array with the elements that are equal to 3

array([3])

In [16]:
# The words "and" and "or" don't work with numpy arrays, instead, we use $ and |
test = (arr2 == 3) | (arr2 > 5)
test

array([[False, False,  True],
       [False, False,  True],
       [ True,  True,  True]])

In [ ]:
# Fancy indexing; indexing using arrays of integers

In [18]:
arr = np.zeros((8,4))
for i in range(8):
    arr[i] = i
arr

array([[0., 0., 0., 0.],
       [1., 1., 1., 1.],
       [2., 2., 2., 2.],
       [3., 3., 3., 3.],
       [4., 4., 4., 4.],
       [5., 5., 5., 5.],
       [6., 6., 6., 6.],
       [7., 7., 7., 7.]])

In [19]:
# We can select rows using a list and passing the desired order
arr[[4, 3, 0, 6]]

array([[4., 4., 4., 4.],
       [3., 3., 3., 3.],
       [0., 0., 0., 0.],
       [6., 6., 6., 6.]])

In [20]:
# Using negative indexes, we select the rows in decreasing order (from the end to the beggining)
arr[[-3, -5, -7]]

array([[5., 5., 5., 5.],
       [3., 3., 3., 3.],
       [1., 1., 1., 1.]])

In [23]:
# Passing multiple indexes selects an one-dimensional array from the correspondents elements at each index tuple
arr[[1,3,6,5],[1,3,1,0]]

array([1., 3., 6., 5.])

In [24]:
# Transposition: is a form of reformatting the array, it swaps the axes

In [27]:
arr = np.arange(15).reshape(3,5)
arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [28]:
arr.T

array([[ 0,  5, 10],
       [ 1,  6, 11],
       [ 2,  7, 12],
       [ 3,  8, 13],
       [ 4,  9, 14]])